<!--  *.ejs for /user/username -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">&#60;%= scriptBook %&#62;</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/wall">Wall</a></li>
                <li class="active"><a href="/user">Users</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="content-container">
    <p>var youAre = { 
        name: <a href="/user/<%= username %>"><%= username %></a>, 
        logout: function(){ <a href="/logout">logout();</a> },
        jumpToYour : [<a href="/">homePage</a>, <a href="/user/<%= username %>">profile</a>, <a href="/wall/<%= username %>">wall</a>] 
    }</p>

    <p><%= profileUser.name %>'s Profile:</p>
     <ul>
       <li> username: <span> <%= profileUser.name %> </span>  </li>
       <li> display name: <span> <%= profileUser.displayName %> </span>  </li>
       <li> id: <span> <%= profileUser.id %> </span>  </li>
       <li>DOB: <%= profileUser.DOB %></li>
       <li> AGE (in seconds): 
           <span id="age_start" style="display:none;"><% var str = Math.floor( (new Date() - profileUser.DOB) / 1000 ) %>  <%= str %></span> 
           <span id="age_display"></span>
        </li>
        <li>admin: <%= profileUser.admin %></li>
    </ul>

    <p><a href="/wall/<%= profileUser.name %>"><%= profileUser.name %>'s wall:</a></p>
    <ul>
        <li><a href ="/wall/<%= profileUser.name %>">visit <%= profileUser.name %>'s wall</a></li>
        <li>wall visit count: <%= postInfo.wallVisitCount %></li>
        <li>visitors: 

        <%  
            var visitors = postInfo.wallVisits[0], 
            out = '', 
            len = postInfo.wallVisits.length, 
            i = len-1; 

           while(i > 0){ out+=postInfo.wallVisits[i].who + ' '; i--; }  
  
        %>  <%= out %></li>
    </ul>

</div>

<script>

    var startAge = Number(document.getElementById('age_start').innerHTML),
    appStart = new Date();

    var age = startAge;    
    var thread = function(){

        setTimeout(thread, 1000);

        age = startAge + Math.floor( (new Date() - appStart) / 1000 );
      
        document.getElementById('age_display').innerHTML = String(age).replace( /(\d)(?=(\d{3})+$)/g , '$1,');
    };
    thread();
</script>