<!--  *.ejs for /user -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">&#60;%= scriptBook %&#62;</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/wall">Wall</a></li>
                <li class="active"><a href="/user">Users</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="content-container">
    <p>var youAre = { name: <a href="/"><%= username %></a>, logout: <a href="/logout">logout</a> }</p>
    
    <div id="user_friends_container">
        <p>friendList:</p>
        <div id="user_friends_list">
        </div>
    </div>

    <p>User List:</p>
    <% for(var i=0; i<otherUsers.length; i++) {%>
        <p><a href="/user/<%= otherUsers[i] %>"><%= otherUsers[i] %></a></p>
    <% } %>

    <p>Profile:</p>
     <ul>
       <li> username: <span> <%= name %> </span>  </li>
       <li> display name: <span> <%= displayname %> </span>  </li>
       <li> id: <span> <%= id %> </span>  </li>
    </ul>
    <p><a href ="/wall/<%= name %>">visit <%= name %>'s wall</a></p>

</div>